@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1f2937;
    color: white;
}

.inputbox {
    display: block;
    width: 100%;
    padding: 6px 8px;
    background-color: #1f2937;
    border: solid 1px #9ca3af;
    border-radius: 6px;
}
.custButton {
    padding: 4px;
    border-radius: 4px;
    background-color: aqua;
}
.custLink {
    font-weight: 600;
    cursor: pointer;
}
.formLabel {
    padding-left: 6px;
    color: #9ca3af;
}
.lineClamp {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
