@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1f2937;
    color: white;
}

.inputbox {
    width: 240px;
    height: 30px;
    padding: 4px;
}
.custButton {
    padding: 4px;
    border-radius: 4px;
    background-color: aqua;
}
.custLink {
    font-weight: 600;
    cursor: pointer;
}
